<div id="logInComponentDiv">
  <div id="topDiv">
    <div id="registryDiv">
      <a [routerLink]="['/auth/register']">
        <button pButton label="Registrarse"></button>
      </a>
    </div>
  </div>
  <div id="loginBox">
    <div id="formDiv">
      <div id="welcomeDiv">
        <h1>Bienvenido</h1>
      </div>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div id="emailDiv">
          <input
            formControlName="email"
            [placeholder]="'Email'"
            pInputText
            type="text"
          />
        </div>
        <div id="passwordDiv">
          <input
            formControlName="password"
            [placeholder]="'Contraseña'"
            pInputText
            type="password"
          />
        </div>
        <div id="buttonDiv">
          <button pButton type="submit" label="Iniciar Sesión"></button>
        </div>
        
        <button class="google-auth-btn" (click)="loginWithGoogle()">
          <img
            src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
          />
          <span>Log in with Google</span>
        </button>
        <a href="/recover-password">¿Has olvidado tu contraseña?</a>
      </form>
    </div>
  </div>
</div>
