<div id="logInComponentDiv">
    <div id="loginBox">
        <div id="formDiv">
            <div id="welcomeDiv">
                <h1>Bienvenido</h1>
            </div>
            <form [formGroup]="loginForm" (submit)="login()">
                <div id="emailDiv">
                    <input formControlName="email" [placeholder]="'Email'" pInputText type="text" />
                </div>
                <div id="passwordDiv">
                    <input formControlName="password" [placeholder]="'Contraseña'" pInputText type="password" />
                </div>
                <div id="buttonDiv">
                    <button pButton type="submit" label="Iniciar Sesión"></button>
                </div>
            </form>
        </div>
    </div>
</div>