<div id="registerComponentDiv">
  <div id="topDiv">
    <div id="registryDiv">
      <a [routerLink]="'/login'">
        <button pButton label="Iniciar sesión"></button>
      </a>
    </div>
  </div>
  <div id="registerBox">
    <div id="formDiv">
      <form [formGroup]="registerForm">
        <h2>Crear cuenta</h2>

        <div class="form-group">
          <input type="text" placeholder="Nombre" formControlName="firstName" />
        </div>

        <div class="form-group">
          <input
            type="text"
            placeholder="Apellidos"
            formControlName="lastName"
          />
        </div>

        <div class="form-group">
          <input type="email" placeholder="Email" formControlName="email" />
        </div>

        <div class="form-group">
          <input
            (blur)="logg()"
            type="password"
            placeholder="Contraseña"
            formControlName="password"
          />
          @if (
            registerForm.controls.password.hasError("pattern") ||
            registerForm.controls.password.hasError("minlength")
          ) {
            <div class="error">
              La contraseña debe tener 8 carácteres, una letra minúscula y
              mayúscula y un número
            </div>
          }
        </div>

        <div class="form-group">
          <input
            type="password"
            placeholder="Confirmar contraseña"
            formControlName="confirmPassword"
          />
          @if (
            registerForm.hasError("passwordMismatch") &&
            registerForm.get("confirmPassword")?.touched
          ) {
            <div class="error">Las contraseñas no coinciden</div>
          }
        </div>

        <div class="terms">
          <p-checkbox formControlName="terms" binary="true"></p-checkbox>
          <label>Acepto los términos y condiciones</label>
        </div>
        @if (errorMessage) {
          <div class="error">
            {{ errorMessage }}
          </div>
        }

        <button type="submit" [disabled]="loading" (click)="register()">
          {{ loading ? "Creando cuenta..." : "Registrarse" }}
        </button>
        <button class="google-auth-btn" (click)="registerWithGoogle()">
          <img
            src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
          />
          <span>Sign in with Google</span>
        </button>
      </form>
    </div>
  </div>
</div>
