::ng-deep .p-tablist-tab-list {
  align-items: center !important;
  justify-content: space-between;
  border: 0px !important;
}
::ng-deep span.p-tablist-active-bar{
  background: none !important;
}

.p-tab-active {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}

::ng-deep span.p-tablist-active-bar{
  background: var(--primary-color);
}

button {
  width: fit-content;
  font-size: 0.8rem !important;
}

i {
  width: fit-content;
}

::ng-deep .p-tabpanels {
  padding-bottom: 0 !important;
}

p-tab {
  padding: 0.5lh;
}

#home {
  width: 100%;
  height: 100%;
  overflow: none;
  justify-content: center;
  align-items: center;
  padding: 1lh 1lh 0 1lh;
  font-size: 0.5rem;
}

.navButtonDiv {
  width: fit-content;
  z-index: 20;
  transition: translate 500ms ease-in-out;

  i {
    transition: rotate 500ms ease-in-out;
  }
}

.navButtonDivOpen {
  translate: 15vw;
  z-index: 20;
  transition: translate 500ms ease-in-out;

  i {
    rotate: -90deg;
    transition: rotate 500ms ease-in-out;
  }
}

#navDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100vh;
  background-color: #b22222;
  z-index: 10;

  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

/* Cuando showNav === true */
#navDiv.open {
  transform: translateX(0);
}

#homeImg {
  height: 100vh;
}

#homeBigDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#appearingDiv {
  width: 80%;
}

#tabsDiv {
  display: flex;
}

#monthButtons {
  display: flex;
  flex-direction: row;
  gap: 1lh;
}

#calendarDiv {
  width: auto;
}

#mapDiv {
  width: 100%;
}

.divInsideRight {
  background-color: #b22222;
  height: 100%;
}

#scrollDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}

#overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
  transform: translateX(100%); /* fuera de la pantalla hacia la derecha */
  transition: transform 0.4s ease-in-out;
  z-index: 1000;
}

#overlay.visible {
  transform: translateX(0); /* entra a la pantalla */
}

::ng-deep .p-scrollpanel-bar-y {
  background-color: var(--primary-color) 80% !important;
}

.dayDescription {
  width: 100%;
  height: 100%;
}

.closeCrossDiv {
  position: fixed;
  top: 50%;
  right: -2rem; /* o '2%' si prefieres usar porcentaje */
  transform: translateY(-50%); /* CENTRADO VERTICAL REAL */

  width: 5rem;
  height: 5rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: start;

  cursor: pointer;
  z-index: 11;

  i{
    margin-left: 1lh;
  }
}

.returnArrowDiv {
  position: fixed;
  top: 50%;
  right: -2rem; /* o '2%' si prefieres usar porcentaje */
  transform: translateY(-50%); /* CENTRADO VERTICAL REAL */

  width: 5rem;
  height: 5rem;
  background-color: red;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: start;

  cursor: pointer;
  z-index: 11;

  i{
    margin-left: 1lh;
  }
}
