#navButtonDiv {
  position: absolute;
  width: fit-content;
  margin-left: 1lh;
  top:10vh;
  z-index: 20;
  transition: translate 500ms ease-in-out;

  i {
    transition: rotate 500ms ease-in-out;
  }
}

#navButtonDiv.openButton{
  transition: translate 500ms ease-in-out;
  translate: 20vw;

  i {
    rotate: -90deg;
    transition: rotate 500ms ease-in-out;
  }

}

#navDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 20vw;
  height: 100vh;
  background-color: #b22222;
  z-index: 10;

  transform: translateX(-100%);
  transition: transform 500ms ease-in-out;
}

/* Cuando showNav === true */
#navDiv.open {
  transform: translateX(0);
}