<nav class="navbar">
    <div id="navBarDiv">
        <div class="logo">
            <a [routerLink]="'/home'">
                Populi Manifiesta
            </a>
        </div>
        <div>
            <ul class="nav-links">
                <li *ngFor="let item of menuItems">
                    <a href="{{ item.link }}">
                        <div class="imgDiv">
                            <img [src]="item.icon" />
                        </div>
                        {{ item.name }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
