<p-card>
  <ng-template #content pTemplate="content">
    <table style="width: 100%" [cellPadding]="0" [cellSpacing]="0">
      <tr>
        <th class="weekDay">Lunes</th>
        <th class="weekDay">Martes</th>
        <th class="weekDay">Miércoles</th>
        <th class="weekDay">Jueves</th>
        <th class="weekDay">Viernes</th>
        <th class="weekDay">Sábado</th>
        <th class="weekDay">Domingo</th>
      </tr>
      @if (calendar && days && eventsByDay) {
        @for (week of calendar; track $index) {
          <tr>
            @for (day of week; track calendar[$index]) {
              <td [ngClass]="{today: week[$index]?.day == hoy.getDate() && week[$index]?.month == hoy.getMonth(), day: day != null }"
              >
                @if (day) {
                  <app-day
                    (dayClicked)="emitDayClicked($event)"
                    [day]="day.day"
                    [month]="month + 1"
                    [year]="year"
                    [events]="eventsByDay.get(day.day) ?? []"
                  />
                }
              </td>
            }
          </tr>
        }
      }
    </table>
  </ng-template>
</p-card>
